@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto.ttf);
}

@font-face {
  font-family: "DS.Digital";
  src: url(./fonts/DS-Digital.ttf);
}

@font-face {
  font-family: "oggy";
  src: url(./fonts/oggy.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto;
}

#main {
  overflow-x: hidden;
  background-color: #fff;
}

#home {
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/main_img.webp.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#layout {
  height: 100%;
  width: 100%;
  /* background-color: green; */
  position: relative;
}

#circle {
  height: 55vw;
  width: 55vw;
  border-radius: 50%;
  /* background-color: orange; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-top {
  height: 100%;
  width: 100%;
  position: absolute;
  /* transform: rotate(-180deg); */
}

#circle-bottom {
  height: 100%;
  width: 100%;
  position: absolute;
}

#circle-top img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-bottom img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-top img:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(2);
}

#circle-top img:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(1.5);
}

#circle-top img:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(1);
}

#circle-bottom img:nth-child(1) {
  transform: translate(-50%, -50%) scale(2);
}

#circle-bottom img:nth-child(2) {
  transform: translate(-50%, -50%) scale(1.5);
}

#circle-bottom img:nth-child(3) {
  transform: translate(-50%, -50%) scale(1);
}

#semi-circle {
  height: 40vw;
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* z-index: 2; */
  border-radius: 50%;
}

#center-img {
  position: absolute;
  /* top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 45%;
  right: -14%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#c-img {
  width: 29vw;
  height: 15vw;
  position: relative;
}

#c-img img {
  position: absolute;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

#center-img h5 {
  font-size: 0.79rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

#center-img h5 span {
  font-size: 0.79rem;
  font-weight: 100;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 2.35rem 2.75rem;
}

#colors {
  display: flex;
}

#color-6 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgb(0, 0, 0);
}

#color-5 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(38, 38, 38, 0.89);
}

#color-4 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(75, 75, 75, 0.874);
}

#color-3 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(113, 113, 113, 0.901);
}

#color-2 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(150, 150, 150, 0.901);
}

#color-1 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(188, 188, 188, 0.786);
}

#nav-bar #brand-name {
  font-size: 1.1rem;
  font-weight: 590;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

#text {
  display: flex;
  justify-content: space-between;
}

#text h4 {
  margin-top: 0.29rem;
  font-size: 0.8rem;
  font-family: "DS.Digital";
  /* margin-right: 3px; */
  font-weight: 100;
}

#bottom-nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 0.5rem 1.4rem;
}

#bottom-nav-bar img {
  height: 3.5rem;
  /* width: 2rem; */
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.85;
}

#bottom-nav-bar #battery {
  height: 3rem;
}

#gallery {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  font-size: 11rem;
  font-weight: 500;
  opacity: 0.8;
  font-family: Raleway;
  letter-spacing: -5px;
  pointer-events: none;
}

#pink-dot {
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  top: 150%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #d5a7b4;
}

#pinkflare {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(20deg);
  transform-origin: 0% 50%;
  z-index: 3;
  font-size: 11rem;
  font-weight: 500;
  opacity: 0.8;
  font-family: Raleway;
  letter-spacing: -5px;
  pointer-events: none;
  color: rgb(255, 255, 255);
  opacity: 1;
}

#slider-div {
  height: 26.5rem;
  width: 27.5rem;
  background-color: #d5a7b4;
  color: #fff;
  padding: 10.5rem 0 6rem 0;
  position: absolute;
  bottom: -100%;
  left: 0%;
}

#slider-div #slider-info h5 {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
  font-weight: 550;
  letter-spacing: 0.5px;
}

#slider-div #slider-info #info-text {
  margin-left: 3rem;
}

#slider-div #slider-color-code {
  margin-top: 6rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  box-sizing: border-box;
  position: relative;
}

#slider-div #slider-color-code h3 sup {
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Roboto";
}

#slider-div #slider-color-code #rgb-code sup {
  position: absolute;
  top: 5%;
  left: 50%;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Roboto";
}

#slider-div #slider-color-code h3 {
  font-family: "DS.Digital";

  font-size: 2rem;
  margin-top: 0.58rem;
  font-weight: lighter;
}

#page-2 {
  height: 100vh;
  width: 100vw;
}

#page-2 #page-2-top {
  /* position: absolute; */
  height: 65%;
  width: 100%;
  border-bottom: 1px solid #dadada;
  position: relative;
  overflow: hidden;
}

#page-2 #page-2-bottom {
  height: 35%;
  width: 100%;
  background-color: green;
}

.circle-1 {
  height: 10rem;
  width: 10rem;
  background-color: #d5a7b4;
  border-radius: 50%;
  position: absolute;
  top: 150%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.circle-2 {
  height: 10rem;
  width: 10rem;
  background-color: #cb4799;
  border-radius: 50%;
  position: absolute;
  top: 150%;
  left: 55%;
  transform: translate(-50%, -50%);
}
