@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto.ttf);
}

@font-face {
  font-family: "DS.Digital";
  src: url(./fonts/DS-Digital.ttf);
}

@font-face {
  font-family: "oggy";
  src: url(./fonts/oggy.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto;
}

#main {
  overflow-x: hidden;
  background-color: #fff;
}

#home {
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/main_img.webp);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#layout {
  height: 100%;
  width: 100%;
  /* background-color: green; */
  position: relative;
}

#circle {
  height: 60vw;
  width: 60vw;
  border-radius: 50%;
  /* background-color: orange; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-top {
  height: 100%;
  width: 100%;
  position: absolute;
  /* transform: rotate(-180deg); */
}

#circle-bottom {
  height: 100%;
  width: 100%;
  position: absolute;
}

#circle-top img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-bottom img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#circle-top img:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(2);
}

#circle-top img:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(1.4);
}

#circle-top img:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-180deg) scale(1);
}

#circle-bottom img:nth-child(1) {
  transform: translate(-50%, -50%) scale(2);
}

#circle-bottom img:nth-child(2) {
  transform: translate(-50%, -50%) scale(1.4);
}

#circle-bottom img:nth-child(3) {
  transform: translate(-50%, -50%) scale(1);
}

#semi-circle {
  height: 50vw;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* z-index: 2; */
  border-radius: 50%;
}

#center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#c-img {
  width: 32vw;
  height: 18vw;
  position: relative;
}

#c-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#center-img h5 {
  font-size: 0.79rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

#center-img h5 span {
  font-size: 0.79rem;
  font-weight: 100;
}

#page-2 {
  height: 100vh;
  width: 100vw;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 1.2rem 1.4rem;
}

#colors {
  display: flex;
}

#color-6 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgb(0, 0, 0);
}

#color-5 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(38, 38, 38, 0.89);
}

#color-4 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(75, 75, 75, 0.874);
}

#color-3 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(113, 113, 113, 0.901);
}

#color-2 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(150, 150, 150, 0.901);
}

#color-1 {
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgba(188, 188, 188, 0.786);
}

#nav-bar #brand-name {
  font-size: 1rem;
  font-weight: 590;
  line-height: 0.8rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

#text {
  display: flex;
  justify-content: space-between;
}

#text h4 {
  margin-top: 0.29rem;
  font-size: 0.8rem;
  font-family: "DS.Digital";
  /* margin-right: 3px; */
  font-weight: 100;
}

#bottom-nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 0.5rem 1.4rem;
}

#bottom-nav-bar img {
  height: 3.5rem;
  /* width: 2rem; */
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.85;
}

#bottom-nav-bar #battery {
  height: 3rem;
}
